*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

/* Upper part : Animated One @hritikkhurana10sm */

.upper{

     position: relative;
     height: 100vh;
     width: 100vw;
}

.left-img{

     position: absolute;
     left: 0;
     top: 19vh;
     height: 21.5rem;
     width: 9.5rem;
     /* animation: fadanimate__fadeInLefteInLeft; */
     animation-duration: 1.5s;
     animation-delay: 2.5s;
     /* animation-delay: 2s; */
    
}

.leftl-img{

    position: absolute;
    /* display: none; */
    top: 12rem;
    left: 12rem;
    height: 8rem;
    width: 8rem;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
}

.right-img{
 
     position: absolute;
     right: 0;
     top: 46vh;
     height: 15.5rem;
     width: 8.5rem;
     animation-duration: 1.25s;
     animation-delay: 2.5s;
}

.rightr-img{
  
   position: absolute;
   /* display: none; */
    top: 17rem;
    right: 10.5rem;
    height: 9rem;
    width: 9rem;
    animation-duration: 1.5s;
    animation-delay: 2.5s;
}


.middle-img{
 
      position: absolute;
        width: 40rem; /*the image width*/
        height: 26rem; /*the image height*/
        left: 50%;
        top: 50%;
        margin-left: -20rem; /*half the image width*/
        margin-top: -13rem; /*half the image height*/
        animation-duration: 1.25s;
        animation-delay: 2.5s;
}

.upper-img{

    position: absolute;
    right : 6rem;
    top : 0;
    height: 5.3rem;
    width: 12rem;
    animation-duration: 1.55s;
    animation-delay: 2.5s;
}

.leftl-img , .left-img , .middle-img , .right-img  , .rightr-img , .upper-img{
    animation-duration: 1.2s !important;
    animation-delay: 3s !important;
}

.btnhover:hover{
   background-color:  #768fa6 !important;
}

@media only screen and (max-width: 900px){

    .left-img {
        display: none;
    }
    .right-img{
        display: none;
    }

    .upper-img{
        /* left: 3rem; */
        width: 12rem;
        height: 6rem;
        right: 1rem;
        animation-name: fadeInTopRight;
    }
    
    .middle-img{
        width: 20rem;
    height: 17rem;
    /* bottom: 12rem; */
    top: 85%;
    margin-left: -10rem;
    margin-top: -11rem;
    animation-name: fadeInLeft;
    }

    .rightr-img {
        position: absolute;
        /* display: none; */
        top: 15rem;
        right: 0rem;
        height: 7rem;
        width: 10rem;
        animation-duration: 1.5s;
        animation-delay: 2.5s;
        animation-name: fadeInRight;
        
    }
 
    .leftl-img{
        position: absolute;
        /* display: none; */
        top: 7rem;
        left: 0;
        height: 9rem;
        width: 11rem;
        animation-duration: 1.5s;
        animation-delay: 2.5s;
        animation-name: fadeInLeft;
    }

    .leftl-img , .left-img , .middle-img ,  .right-img ,  .rightr-img , .upper-img{
        animation-duration: 1.5s  !important;
        animation-delay: 3s !important;
    }
    
}

/* section page */

.title-pg{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    font-size: 45px;
    margin-top: -28px;
}

.title-text{
    display: flex;
    justify-content: center;
    color: #665e5e;
    font-size: 22px;
    /* margin: 10px 0 0; */
    font-family: Roboto,sans-serif;
    font-size: 20px;
    line-height: 1.65em;
    /* font-weight: 300; */
    letter-spacing: .01em;
    text-align: center;
    margin: 44px 99px 26px 163px;
}

.center{
  display: flex;
  justify-content: center;
}

.carap{
   margin-top: 75px;
}

html .scroll-to-top{
    display: none;
}

.sort-source.sort-source-style-3>li.active>a{
     border-bottom-color: #5c768d !important;
     color : #5c768d !important;
}
@media only screen and (max-width: 900px){

    .left-img {
        display: none;
    }
    .right-img{
        display: none;
    }

    .upper-img{
        /* left: 3rem; */
        width: 12rem;
        height: 6rem;
        right: 1rem;
    }
    
    .middle-img{
        width: 20rem;
    height: 17rem;
    /* bottom: 12rem; */
    top: 85%;
    margin-left: -10rem;
    margin-top: -11rem;
    }

    .rightr-img {
        position: absolute;
        /* display: none; */
        top: 15rem;
        right: 0rem;
        height: 7rem;
        width: 10rem;
        animation-duration: 1.5s;
    }
 
    .leftl-img{
        position: absolute;
        /* display: none; */
        top: 7rem;
        left: 0;
        height: 9rem;
        width: 11rem;
        animation-duration: 1.5s;
    }
   
    .title-text{
        margin-top: 45px;
        margin: 44px 44px 44px 44px !important;
    }
    
    .title-pg{
        margin-top: 48px;
        font-size: 31px;
    }
}


.tt{
 
   padding-top: 30px!important;
   padding-bottom: 30px!important;
}

.tr{
   width: 7.9rem!important;
   height: 3rem;
   margin-left:12px!important ;
}


#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
    color : white;
}

#footer{
    margin-top: 60px;
    padding: 0px !important;
    /* margin-bottom: 90px; */
  }